<div class="login_alert-page">
	<div class="container">
		<div class="content-wrapper">
			<h1>LOGIN GUARD VERIFICATION REQUIRED</h1>
			<p>We noticed that you’re attempting to log in from an unauthenticated browser.</p>
			<p>Before you can access your account you will have to verify your browser.</p>
			<p>A link has been sent to your email, please open the link in this same browser to complete your website verification.</p>
			<a href="/logout" class="btn btn-link">Logout</a>
		</div>
	</div>
</div>