    <%= ENV.fetch('SENDER_NAME').upcase %> RESET PASSWORD
  </td>
</tr>
<tr><td colspan='3' align='center' height='1' style='padding:0px;'></td></tr>
<tr><td align='left' style='padding-top:0px;'>&nbsp;</td>
  <td style='text-align:left;font-size:15px;color:#000;padding-top:0px;'>
    Dear User,
  </td><td align='left' style='padding-top:0px;'>&nbsp;</td>
</tr>
<tr><td colspan='3' align='center' height='1' style='padding:0px;'></td></tr>
<tr><td align='left' style='padding-top:0px;'>&nbsp;</td>
  <td style='text-align:left;font-size:15px;color:#000;padding-top:0px;'>
    You have just intiated a request to reset password for your
    <%= ENV.fetch('SENDER_NAME').upcase %> account. The withdrawal
    of your account will be frozen for 24 hours after the password
    has been changed.
  </td><td align='left' style='padding-top:0px;'>&nbsp;</td>
</tr>
<tr><td align='center'>&nbsp;</td>
  <td align='center' style='text-align:center;font-size:15px;color:#000;>
    To set a new password, please click the button below:
  </td><td align='center'>&nbsp;</td>
</tr>
<tr><td align='center'>&nbsp;</td>
  <td align='center'>
    <%= link_to 'Reset Password',
                edit_account_password_url(ViewHelper.with_frontend_domain(reset_password_token: @token)) %>
  </td><td align='center'>&nbsp;</td>
</tr>
<tr><td align='center'>&nbsp;</td>
  <td align='center' style='text-align:center;font-size:15px;color:#000;'>
    If you can't confirm by clicking the button above, please copy the address below to the browser address bar to confirm.
  </td><td align='center'>&nbsp;</td>
</tr>
<tr>
<td align='center'>&nbsp;</td>
  <td align='center'>
    <%= edit_account_password_url(ViewHelper.with_frontend_domain(reset_password_token: @token)) %>
  </td><td align='center'>&nbsp;</td>
</tr>
<tr><td align='center'>&nbsp;</td>
  <td align='center' style='text-align:center;font-size:15px;color:#000;'>
    For security reasons, this link will expire in 30 minutes.
  </td><td align='center'>&nbsp;

