<div class="inner-header">
  <%= render 'shared/menu' %>
  <%= render 'shared/flash' %>
</div>

<div class="pagecontent pagecnt">
  <section class="text-center animatedParent" id="team">
    <div class="container animated fadeInUp go">
      <h2 class="l-f t-white text-uppercase">ABOUT EXCOINCIAL</h2>
      <p class="content t-white col-md-8  center-content">EXCOINCIAL is a United Kingdom and Malta centralized multi-crypto trading exchange with several advanced features and focuses on security of digital assets. It is open to all platforms for all crypto users and traders.</p>
      <br/>
      <h2 class="l-f t-white text-uppercase">Our team</h2>
      <p class="content t-white col-md-8  center-content">Our team is made up strong and highly experienced individuals both in technical terms and in building successful startups. Each and every member our team has a unique trait that, when mixed together with those of other members, produces a flawless synergy. This guarantees a high probability of success. We have built successful startups in the past and this time around our drive and ambitions are significantly higher.</p>
      <br/>
      <div class="tembg">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="cardboxbg">
            <div class="box">
              <div class="img">
                <img src="/images/team1.png">
              </div>
              <h2 class="fnt-bld">Don Chancellor</h2>
              <h4 class="">Founder &amp; President</h4>
              <p>Chancellor is an IBM certified Blockchain Expert and is one of the early adopters...</p>
              <a href="javascript:void(0)" class="bor-btn" data-toggle="modal" data-target="#donchancellor">more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="cardboxbg">
            <div class="box">
              <div class="img">
                <img src="/images/team2.png">
              </div>
              <h2 class="fnt-bld">Dieter Wipf</h2>
              <h4 class="">CEO</h4>
              <p>Dieter is an independent Auditor with banking background from Switzerland...</p>
              <a href="#" class="bor-btn" data-toggle="modal" data-target="#dieter-frank">more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="cardboxbg">
            <div class="box">
              <div class="img">
                <img src="/images/Madeleine.jpg">
              </div>
              <h2 class="fnt-bld">Madeleine G. Winkler
              </h2>
              <h4 class="">Execuctive Secretary</h4>
              <p>Mrs. Madeleine Winkler is from Switzerland, an unflinching Defender of Global Children...</p>
              <a href="javascript:void(0)" class="bor-btn" data-toggle="modal" data-target="#madeleine-winkler">more</a>

            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="cardboxbg">
            <div class="box">
              <div class="img">
                <img src="/images/Alexander-Papievis.jpg">
              </div>
              <h2 class="fnt-bld">Alexander Papevis

              </h2>
              <h4 class="">CTO
              </h4>
              <p>Alexander holds Masters Degrees in Electronics/Mechanical Engineering...</p>
              <a href="javascript:void(0)" class="bor-btn" data-toggle="modal" data-target="#alexanderpapievis">more</a>

            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="cardboxbg">
            <div class="box">
              <div class="img">
                <img src="/images/luciano.jpg">
              </div>
              <h2 class="fnt-bld">Luciano Besitulo

              </h2>
              <h4 class="">Development Team Lead
              </h4>
              <p>Luciano is an immensely qualified and programmatic software engineer...</p>
              <a href="javascript:void(0)" class="bor-btn" data-toggle="modal" data-target="#luciano">more</a>

            </div>
          </div>
        </div>



        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="cardboxbg">
            <div class="box">
              <div class="img">
                <img src="/images/Claudius-Lyn-photo.jpg">
              </div>
              <h2 class="fnt-bld">Claudius Lyn
              </h2>
              <h4 class="">Project Advisor
              </h4>
              <p>Claudius is a certified Senior Project Management professional (GPM/IPMA Level B)...</p>
              <a href="javascript:void(0)" class="bor-btn" data-toggle="modal" data-target="#claudiuslyn">more</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12" style="display:none;">
          <div class="cardboxbg">
            <div class="box">
              <div class="img">
                <img src="/images/panda.png">
              </div>
              <h2 class="fnt-bld">Panda Osondu Oku
              </h2>
              <h4 class="">Head of Operations
              </h4>
              <p>Panda who resides in Vienna, Austria is an accomplished Entrepreneur...</p>
              <a href="javascript:void(0)" class="bor-btn" data-toggle="modal" data-target="#panda">more</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="cardboxbg">
            <div class="box">
              <div class="img">
                <img src="/images/cal.png">
              </div>
              <h2 class="fnt-bld">Cal Evans
              </h2>
              <h4 class="">Legal Advisor
              </h4>
              <p>Attorney PGDip LP Cal Evans is a former United Kingdom Government Adviser...</p>
              <a href="javascript:void(0)" class="bor-btn" data-toggle="modal" data-target="#cal">more</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>

<!--team photos-->
<div id="donchancellor" class="modal fade" role="dialog"  style="padding-right: 17px;" >
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-modal" data-dismiss="modal">×</button>
      <h4 class="modal-title">Don Chancellor - <span class="h5">Founder & President</span></h4>
    </div>
    <div class="modal-body">
      <p>Chancellor is an IBM certified Blockchain Expert and is one of the early adopters and holders of Bitcoin. Though more inclined to the Medical Profession, but coming from the backdrop and admixture of Medical and Banking/Financial family, he is armed with the art of both worlds and thus lays acclaim to many years of practical experiences in related fields. While studying Medicine & Surgery, he single-handedly spearheaded the operations of FASTCASHIER EUROPE LIMITED, now renamed ZeroPay as its Managing Director in charge of Europe Continent.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>


<div id="dieter-frank" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">×</button>
        <h4 class="modal-title">Dieter Frank Wipf - <span class="h5">CEO</span></h4>
      </div>
      <div class="modal-body">
        <p>Dieter is an independent Auditor with banking background from Switzerland. Over the years he had various mandates, including political ones, and leadership tasks in African Countries for governmental and non governmental organizations where he played prominent roles in auditing, service & quality checks; establishment of new Companies in Medicine and Energy sectors.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="madeleine-winkler" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">×</button>
        <h4 class="modal-title">Madeleine Winkler - <span class="h5">Execuctive Secretary</span>
        </h4>
      </div>
      <div class="modal-body">
        <p>Mrs. Madeleine Winkler is from Switzerland, an unflinching Defender of Global Children, an Ambassador and the current President of the Non-Governmental Organization, So.Sui.Ben, Switzerland, with massive projects and orphanage homes in the sub-Saharan Africa like Central African Republic, Congo, Cameroun, Senegal and a budding Foundation in Nigeria.</p>
        <p>She has in the past served in diverse Executive positions in Swiss, including but not limited to being an Assistant to the Executive in the Accountant services for the Financial Director at Reebok Switzerland which was later bought by Adidas; worked for the office of T.O. ADVISCO AG, Switzerland (A Switzerland Company in Accounting Services, Tax &amp; Financial Advisor to Swiss Banks); she worked in the Financial department for National Business Partners for VALORA LIMITED and she worked as Trustee and clerical assistant for many other Companies which are FULL SERVICE PROVIDER OF VALUATION, PERFORMANCE MANAGEMENT, DOMESTIC AND INTERNATIONAL, WEALTH STRUCTURING, CORPORATE FINANCE, FIDUCIARY, ACCOUNTING AND FUND ADMINISTRATION SERVICES and many more Executive work experiences.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="luciano" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">×</button>
        <h4 class="modal-title">Luciano Besitulo - <span class="h5">Development Team Lead</span></h4>
      </div>
      <div class="modal-body">
        <p>Luciano is an immensely qualified and programmatic software engineer with high level experiences in multiple computer programming languages, software development, exchange development, blockchain technology, digital assets wallet development, smart contracts, cryptocurrencies, as well as FinTech Web development. Being a proactive Blockchain and Cryptocurrency enthusiast, Luciano unequivocally believes in the ultimate triumph of Blockchain Technologies.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="alexanderpapievis" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">×</button>
        <h4 class="modal-title">Alexander Papevis - <span class="h5">CTO</span></h4>
      </div>
      <div class="modal-body">
        <p>Alexander holds Masters Degrees in Electronics/Mechanical Engineering as well as Masters Degrees in Economics/Public Administration. He has over 15 years of experience in developing electronics and more than 5 years of experience in developing Electronic Control Systems for Electric Propulsion Thruster Systems. He was a Chief Engineer in various firms where he designed Electrical Power Systems of various sizes and complexities. Besides, he has worked in diverse fields of Computer Engineering; especially in Programming, Server and System Administration.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="irina-yuhanyuk" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">×</button>
        <h4 class="modal-title">Ms. Irina Yuhanyuk - <span class="h5">Social Media Director</span>
        </h4>
      </div>
      <div class="modal-body">
        <p>Irina is a Blockchain and CryptoCurrency enthusiast. She is a highly-motivated, productive and focused team player with strong communication, interpersonal, organizational, time management, analytical and problem-solving skills. Irina is reliable and dedicated with the ability to grasp and apply new procedures quickly; organize and prioritize tasks to meet deadlines and adapt readily to new challenges.</p>
        <p>She is currently the Marketing Director at AFRICUNIA BANK project where she is dealing with Marketing and Promotions</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="claudiuslyn" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">×</button>
        <h4 class="modal-title">Claudius Lyn - <span class="h5">Project Advisor</span></h4>
      </div>
      <div class="modal-body">
        <p>Claudius is a certified Senior Project Management professional (GPM/IPMA Level B) with Master of Science in Mathematics, Astronomy / Astrophysics. He worked for decades in various capacities including but not limited to Investment Banks in Germany and in IT & Software Manufacturing Industries where he was tasked with realisation of new terms of reference in the course of the replacement of German Federal Data Protection Act via European Regulations, establishment of a project structure, identification of application and system owners, preparation of risk disclosures, exposure and consideration of dependencies to BCBS 239, regulatory reporting, fraud detection and money laundering, project planning, project monitoring, stakeholder management, quality management, risk management, process consulting.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="panda" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">×</button>
        <h4 class="modal-title">Panda Osondu Oku - <span class="h5">Head of Operations</span></h4>
      </div>
      <div class="modal-body">
        <p>Panda who resides in Vienna, Austria is an accomplished Entrepreneur. He is the Director of ELECTROPET IBP LIMITED, an Oil, Gas and Renewal Energy Company, and is involved in all aspects of ELECTROPET, ranging from finances to engineering, growth, marketing and product to ensure that their original vision—to inspire people to dream and attain any height in the things they cherish most—is being effectively executed. As EXCOINCIAL Head of Operations, Panda is looking forward helping our firm broaden immeasurably in success and in building a product that continues to be a place where users can lose themselves discovering the things they’re passionate about.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="cal" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">×</button>
        <h4 class="modal-title">Cal Evans - <span class="h5">Legal Advisor</span></h4>
      </div>
      <div class="modal-body">
        <p>Attorney PGDip LP Cal Evans is a former United Kingdom Government Adviser with the “Department of Business Innovation and Skills,” where he helped them draft the 2011 Agency Workers Regulations. Cal consults for Members of the UK Parliament (MP's), the Home Secretary and team members to improve understanding of the law in the United Kingdom.
          Furthermore, he is the Managing Consultant at Gresham International Law Firm with offices in United Kingdom and California, USA. He is a Corporate and Cryptocurrency Compliance Expert, specializing in Online, Cloud Computing, IT, and Business Law with experience working with some of the largest USA Technology firms on this Planet.<p>
        <p>Education: Graduated from the University of Surrey, United Kingdom, School of Law with Honors in 2009 and went on to attend the University of Law in London to obtain his Masters and Post Graduate Diploma in Legal Practice in 2010 (equivalent of an Advanced Paralegal Certificate). He furthered his Education by achieving a certificate in Finance from prestigious Yale University in the USA.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>