<div class="inner-header">
  <%= render 'shared/menu' %>
  <%= render 'shared/flash' %>
</div>

<article>
  <div class="gray-bg inner-banner-bg">
    <section class="">
      <div class="container site-container">
        <div class="content-section">
          <h3 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">COOKIES</h3>
          <p class="content t-white">Cookies are small text files which are downloaded to your computer, tablet or mobile phone when you visit a website or application. The website or application may retrieve these cookies from your web browser (eg Internet Explorer, Mozilla Firefox or Google Chrome) each time you visit, so they can recognise you, remember your preferences and provide you with a more secure online experience.</p>
          <p class="content t-white">Generally, cookies are very useful and are a common method used by almost every website you visit because they help to make your online experience as smooth as possible. For security reasons, many websites will not function at all without the use of cookies (or other similar technologies, such as "web beacons" or "tags").</p>
          <p class="content t-white">Cookies generally do not hold any information to identify an individual person, but are instead used to identify a browser on an individual machine.</p>
          <p class="content t-white">If you prefer, you can restrict, block or delete cookies by changing your browser settings but that may mean that the website won't work properly</p>
          <p class="content t-white">For more information about cookies and their impact on you and your browsing visit <%= link_to 'http://www.aboutcookies.org', 'http://www.aboutcookies.org' %>.</p>
          <h3 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">TYPES OF COOKIES</h3>
          <p></p>
          <h4 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">Necessary cookies</h4>
          <p class="content t-white">These cookies are essential in helping you to make use of the features and services we offer on the #{INSERT SITE HERE} website. Without these cookies, the services you want to use cannot be provided. These cookies do not gather information about you that could be used to identify you, and they do not monitor or remember where you have been on the internet.</p>
          <h4 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">Functional cookies</h4>
          <p class="content t-white">These cookies allow us to provide you with a better online experience when you use our website. They do not gather or store any information which would allow us to identify you personally.</p>
          <h4 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">Performance cookies</h4>
          <p class="content t-white">Performance cookies help us to understand how our customers use our site, so we can keep our products and services relevant, easy to use and up to date. For example, we can see which products and services are most popular, identify when and where errors occur, and test different versions of a page in order to provide an improved online experience.</p>
          <p class="content t-white">Sometimes, the services we use to collect this information may be operated by other companies on our behalf. They may use similar technologies to cookies, known as "web beacons" or "tags". These are anonymous and, as they are only used for statistical purposes, they do not contain or collect any information that identifies you.</p>
          <h4 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">Targeting cookies</h4>
          <p class="content t-white">We have relationships with carefully selected and monitored suppliers (third parties) who may also set cookies during your visit. The purpose of these cookies is "behavioural advertising" (also known as "behavioural targeting" or "remarketing"), which is a means of showing you relevant products and services based on what you appear to be interested in. Although these cookies can track your visits around the web they don't know who you are. Without these cookies, online advertisements you encounter will be less relevant to you and your interests.</p>
          <h3 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">MANAGING COOKIES</h3>
          <p class="content t-white">Most internet browsers allow you to erase cookies from your computer hard drive, block all cookies (or just third-party cookies) or warn you before a cookie is stored on your device.</p>
          <p class="content t-white">Please note, if you choose to block all cookies, our site will not function as intended and you will not be able to use or access many of the services we provide. If you have blocked all cookies and wish to make full use of the features and services we offer, you will need to enable your cookies. You can do this in your browser (see below).</p>
          <p class="content t-white">Rather than blocking all cookies, you can choose to only block third-party cookies which will still allow our website to function as intended.</p>
          <h4 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">How to manage cookies on your PC</h4>
          <p class="content t-white">To enable cookies on our website, follow the steps below.</p>
          <p class="text-uppercase text-left fnt-bld mb-10 mt-0 content t-white">Google Chrome</p>
          <ol class="t-white">
            <li class="content t-white">Click "Tools" at the top of your browser and select "Settings".</li>
            <li class="content t-white">Click "Show advanced settings", scroll down to the section "Privacy" and click "Content Settings."</li>
            <li class="content t-white">Select "Allow local data to be set". To only acept first-party cookies, check the box next to "Block all third-party cookies without exception"</li>
          </ol>
          <p class="text-uppercase text-left fnt-bld mb-10 mt-0 content t-white">Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0</p>
          <ol class="t-white">
            <li class="content t-white">Click "Tools" at the top of your browser and select "Internet Options", then click the "Privacy" tab.</li>
            <li class="content t-white">Check that the level of your privacy is set to Medium or lower, which will allow the use of cookies in your browser.</li>
            <li class="content t-white">If set above medium level it will prevent the use of cookies.</li>
          </ol>
          <p class="text-uppercase text-left fnt-bld mb-10 mt-0 content t-white">Mozilla Firefox</p>
          <ol class="t-white">
            <li class="content t-white">Click "Tools" at the top of your browser and select "Options".</li>
            <li class="content t-white">Then select the "Privacy" icon.</li>
            <li class="content t-white">Click the "Cookies" and select "Allow pages to create a cookie."</li>
          </ol>
          <p class="text-uppercase text-left fnt-bld mb-10 mt-0 content t-white">Safari</p>
          <ol class="t-white">
            <li class="content t-white">Click the gear icon at the top of your browser and select "Settings".</li>
            <li class="content t-white">Click the "Privacy" tab, then select the option "Disable the use of cookies by third parties and advertising cookies."</li>
            <li class="content t-white">Click "Save".</li>
          </ol>
          <h4 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">How to manage cookies on your Mac</h4>
          <p class="content t-white">To enable cookies on our website, follow the steps below.</p>
          <p class="text-uppercase text-left fnt-bld mb-10 mt-0 content t-white">Microsoft Internet Explorer 5.0 on OSX</p>
          <ol class="t-white">
            <li class="content t-white">Click on "Explorer" at the top of your browser and select "Settings".</li>
            <li class="content t-white">Scroll down to the "Cookies" section in the "Received Files".</li>
            <li class="content t-white">Select "Do not ask."</li>
          </ol>
          <p class="text-uppercase text-left fnt-bld mb-10 mt-0 content t-white">Safari on OSX</p>
          <ol class="t-white">
            <li class="content t-white">Click "Safari" on the top of your browser and select "Settings".</li>
            <li class="content t-white">Click the "Privacy" and then "Enable cookies."</li>
            <li class="content t-white">Select "only the pages you have visited."</li>
          </ol>
          <p class="text-uppercase text-left fnt-bld mb-10 mt-0 content t-white">Mozilla and Netscape on OSX</p>
          <ol class="t-white">
            <li class="content t-white">Click "Mozilla" or "Netscape" at the top of your browser and select "Settings".</li>
            <li class="content t-white">Scroll down to the "Cookies" under "Privacy & Security".</li>
            <li class="content t-white">Select "Allow cookies only to the original site."</li>
          </ol>
          <p class="text-uppercase text-left fnt-bld mb-10 mt-0 content t-white">Opera</p>
          <ol class="t-white">
            <li class="content t-white">Click "Menu" on the top of your browser and select "Settings".</li>
            <li class="content t-white">Then select "Options" tab and the "Advanced".</li>
            <li class="content t-white">Select "Enable cookies."</li>
          </ol>
        </div>
      </div>
    </section>
  </div>

</article>