<div class="inner-header">
  <%= render 'shared/menu' %>
  <%= render 'shared/flash' %>
</div>

<article>
  <div class="gray-bg inner-banner-bg">
    <section class="">
      <div class="container site-container">
        <div class="content-section">
          <h3 class="text-uppercase text-left light-blue fnt-bld mb-20 mt-0">Terms and conditions</h3>
          <p class="content t-white">This web site is owned and operated by EXCOINCIAL.com and will be referred to as "We", "our" and "us" in this Terms and Conditions. By using this site, you agree to the Terms and Conditions of this web site ("the web site"), which is set out on this web site page. The Terms and Conditions relates to the use of this site and collection and use of personal information you may supply to us through your conduct on the web site. We reserve the right, at our discretion, to modify or remove portions of this Terms and Conditions at any time. This Terms and Conditions is in addition to any other terms and conditions applicable to the web site. We do not make any representations about third party web sites that may be linked to the web site. We recognize the importance of protecting the privacy of information collected about visitors to our web site, in particular information that is capable of identifying an individual ("personal information"). This Terms and Conditions governs the manner in which your personal information, obtained through the web site, will be dealt with. This Terms and Conditions should be reviewed periodically so that you are updated on any changes. We welcome your comments and feedback.
          </p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Personal Information</h4>
          <p class="content  t-white">Personal information about visitors to our site is collected only when knowingly and voluntarily submitted. For example, we may need to collect such information to provide you with further services or to answer or forward any requests or enquiries. It is our intention that this policy will protect your personal information from being dealt with in any way that is inconsistent with applicable privacy laws.</p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Use of Information</h4>
          <p class="content  t-white">Personal information that visitors submit to our site is used only for the purpose for which it is submitted or for such other secondary purposes that are related to the primary purpose, unless we disclose other uses in this Terms and Conditions or at the time of collection. Copies of correspondence sent from the web site, that may contain personal information, are stored as archives for record-keeping and back-up purposes only.</p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Age Restrictions</h4>
          <p class="content  t-white">This site contains adult content registration and participation on the Sites is restricted to those individuals over 18 years of age, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations and warranties herein. By registering or participating in services or functions on the Sites, you hereby represent that you are over 18 years of age and have the authority to enter into the terms herein. In any case, you affirm that you are over the age of 18 as the Site is not intended for anyone under 18. If you are under 18 years of age, do not use the Site.</p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Collecting Information on Registered Members</h4>
          <ul class="t-white">
            <li class="content  t-white">As part of registering with us, we collect personal information about you in order for you to take full advantage of our services. To do this it may be necessary for you to provide additional information to us as detailed below. </li>
            <li class="content  t-white">Registration is completely optional. Registration may include submitting your name, email address, address, telephone numbers, and option on receiving updates and promotional material and other information. You may access this information at any time by logging in and going to your account</li>
            <li>Apart from where you have consented or disclosure is necessary to achieve the purpose for which it was submitted, personal information may be disclosed in special situations where we have reason to believe that doing so is necessary to identify, contact or bring legal action against anyone damaging, injuring, or interfering (intentionally or unintentionally) with our rights or property, users, or anyone else who could be harmed by such activities. Also, we may disclose personal information when we believe in good faith that the law requires disclosure. </li>
            <li>We may engage third parties to provide you with goods or services on our behalf. In that circumstance, we may disclose your personal information to those third parties in order to meet your request for goods or services. </li>
            <li>We strive to ensure the security, integrity and privacy of personal information submitted to our site, and we review and update our security measures in light of current threats. Unfortunately, no data transmission over the Internet can be guaranteed to be totally secure. </li>
            <li>However, we will endeavour to take all reasonable steps to protect the personal information you may transmit to us or from our online products and services. Once we do receive your transmission, we will also make our best efforts to ensure its security on our systems. </li>
            <li>In addition, our employees and the contractors who provide services related to our information systems are obliged to respect the confidentiality of any personal information held by us. However, we will not be held responsible for events arising from unauthorised access to your personal information. </li>
          </ul>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Collecting Information for Users</h4>
          <p class="content  t-white">IP Addresses: Our web servers gather your IP address to assist with the diagnosis of problems or support issues with our services. Again, information is gathered in aggregate only and cannot be traced to an individual user. </p>
          <p class="content  t-white">Cookies and Applets: We use cookies to provide you with a better experience. These cookies and allow us to increase your security by storing your session ID and are a way of monitoring single user access. This aggregate, non-personal information is collated and provided to us to assist in analysing the usage of the site.  </p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Access to Information
          </h4>
          <p class="content  t-white">We will endeavour to take all reasonable steps to keep secure any information which we hold about you, and to keep this information accurate and up to date. If, at any time, you discover that information held about you is incorrect, you may contact us to have the information corrected.
          </p>
          <p class="content  t-white">In addition, our employees and the contractors who provide services related to our information systems are obliged to respect the confidentiality of any personal information held by us. </p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Links To Other Sites
          </h4>
          <p class="content  t-white">Third-party web-site links are accessible via our site. These linked sites are not under our control, and we cannot accept responsibility for the conduct of companies linked to our website. Before disclosing your personal information on any other website, we advise you to examine the terms and conditions of using that Web site and its privacy statement.</p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Problems or Questions
          </h4>
          <p class="content  t-white">If we become aware of any ongoing concerns or problems with our web sites, we will treat each issue seriously and work to address these concerns. If you have any further queries relating to our Privacy Policy, or you have a problem or complaint, please contact us at support@excoincial.com</p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Terms Of Use</h4>
          <ul class="t-white">
            <li class="content  t-white">Only you have access to your account and you can only execute orders for purchase and sale of currencies operated in EXCOINCIAL.com.</li>
            <li class="content  t-white">We will never provide your private key to anyone, for security and privacy. Make sure of what you're doing before clicking the confirm button.</li>
            <li>EXCOINCIAL.com reserves the right to charge a FEE which can vary from 0.1% to 0.5% per trade, as well as fixed fees for withdrawals.</li>
          </ul>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Trading</h4>
          <ul class="t-white">
            <li class="content  t-white">Users can trade virtual currencies (commonly known as cryptocurrencies) by creating buy orders (bids) or sell orders (asks). Users can specify the total amount of currency they wish to buy or sell, and the rate they wish to trade at. Once the order is created, it is automatically matched against any existing orders and if any are found – the transaction will occur. If the order is not filled or only partially filled, the order is placed on the order book until a matching order can complete the request. A buy order is matched against a sell order, and vice versa. If the buying rate of an order is higher than the lowest rate of a sell order, the transaction will proceed by automatically being matched to the lowest sell order. </li>
            <li class="content  t-white">You can cancel your open orders at any time. An order that has been executed cannot be reversed. </li>
            <li class="content  t-white">By using this Exchange, you agree not to complain or engage any persons or parties, for any loss of funds during the trading process caused by incorrect price or amount input, wrong withdrawal addresses or by any other action you are responsible for or not, including any actions of other people, unavailability of the website or system failure. Order book spam are prohibited and can lead to order cancellation by exchange staff.</li>
          </ul>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Security</h4>
          <ul class="t-white">
            <li class="content  t-white">We have implemented security measures to ensure the confidentiality of your Personal Information and to protect your Personal Information from loss, misuse, alteration or destruction.</li>
            <li class="content  t-white">We implement a variety of security measures to maintain the safety of your personal information when you submit a request, place an order or access your personal information.</li>
            <li class="content  t-white">The e-mail address(es) provided by our users is visible only to EXCOINCIAL.com administrators and will never be disclosed or shared with third parties. We respect your privacy and take the safety &amp; security of your data seriously. Your email address will be used for EXCOINCIAL.com only to send notifications and system updates.</li>
            <li class="content  t-white">Only authorized personnel of EXCOINCIAL.com have access to your Personal Information and will treat this information as confidential. The security measures in place will, from time to time, be reviewed in line with legal and technical developments.</li>
            <li>We will hold your Personal Information only for as long as it is necessary for us to do so, having regard to the purposes described in our Privacy Policy and our own legal and regulatory obligations. By our record keeping requirements, we will retain Accounts and Personal Information for at least a period of one year after Customers close them.
            </li>
            <li>We maintain IP addresses of users in private registration, for safety. </li>
            <li>Be aware that currently the cryptocurrency based on Bitcoin, Ethereum, AFCASH, NATIVECOINS or any other Coins/Tokens are vulnerable to attacks by 51% processing, fork blockchain, among others, especially new cryptocurrencies market. If any attack or failure in these systems cryptocurrencies, the only thing we can do is wait for a possible solution of the original developers and there is no guarantee, as we are not responsible for the creation, development and maintenance of cryptocurrencies. </li>
            <li>Your Connection is Secure, our website uses 256-bit encryption via SSL certificates. The padlock icon on your browser indicates that your connection is secure. </li>
            <li>Your Data is Protected, your passwords and API keys are salted, hashed and never stored in our code or database. All your personal identity documents and personal data are encrypted. We maintain continuous auditing, logging, backups and safe-guarding of data in geographically redundant encrypted storage. </li>
            <li>If by chance there is any problem that is caused by EXCOINCIAL.Com, we will try to fix ASAP. </li>
          </ul>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">History of Operations</h4>
          <p class="content t-white">We guarantee to display your detailed history of operations for last 3 months. All operations with age above 3 months can be archived and converted to consolidated records.</p>
          <p></p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Cryptocurrency Deposits and Withdrawals</h4>
          <p class="content t-white">We do not accept deposits from "general" transactions. Make sure you send from your personal wallet. Do not mine directly to exchange. </p>
          <p class="content t-white">Multiple deposits of very small fractions of coins or mining directly to exchange from mining pools with fractions of coins also knows as "dust" are considered as TX spam and can lead to account block without refund. We recommend to mine into Your local wallet and send coins to exchange from there. </p>
          <p class="content t-white">Multiple deposits of very small fractions of coins or mining directly to exchange from mining pools with fractions of coins also knows as "dust" are considered as TX spam and can lead to account block without refund. We recommend to mine into Your local wallet and send coins to exchange from there. </p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Rounding Rules</h4>
          <p class="content t-white">The rounding system implemented in the exchange automatically rounds the values to 8 decimal places. The system works in favour of the exchange. </p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Volume Policy</h4>
          <p class="content t-white">We start to monitor the BTC daily volume of every cryptocurrency listed in 2 months after addition. If the average daily volume for one month is less than 2 BTC, we will announce the removal of the currency on Twitter/Facebook or on our Telegram Group and mailing lists. After the removal is announced, we keep the currencies on the exchange for at least for 2 weeks to allow our users to trade or withdraw their currencies from the exchange. If the average daily volume becomes more than 2 BTC during these two weeks - we will allow the currency to stay on the exchange. </p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Currency Delisting</h4>
          <p class="content t-white">The currency delisting procedure will be performed by the exchange only with a prior announcement of at least 14 days before the actual delisting of the market. A notification by newsletter will be sent to all user e-mails (all users may be subscribed to our newsletter by default) and Twitter/Facebook/Telegram. Markets will also be highlighted with a red color to let users know that the market involving the currency is planned to be removed from the exchange. This gives users ample time to trade or withdraw currencies before they are delisted.</p>
          <p class="content t-white">Balances cannot be recovered after a coin is delisted. Wallets can be given an extended grace period for withdrawals if server performance is not affected. Coin can also be delisted without previous notice in case of broken blockchain which a coin developer is refusing to fix</p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Trademarks</h4>
          <p class="content t-white">EXCOINCIAL.com and the EXCOINCIAL logo are trademarks of EXCOINCIAL LIMITED. All other trademarks are the property of their respective owners.</p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Marketing</h4>
          <p class="content t-white">We will never sell or rent your personal information to third parties. </p>
          <p class="content t-white">
            Any communications we send to you will either be related to your account or will be related to EXCOINCIAL.com services or products. In the event EXCOINCIAL.com sends any communication to you which is not related specifically to your account, EXCOINCIAL.com will provide you with an "unsubscribe" mechanism through which you may opt out of receiving other similar messages in the future. </p>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">Prohibitions</h4>
          <ul class="t-white">
            <li class="content  t-white">Make sure you do not misuse this Website. You will not: commit or encourage a criminal offense; transmit or disperse a virus, trojan, worm, logic bomb or some other materials which can be malicious, electronically harmful, in breach of assurance or in any way offensive or obscene; hack into any area of the Service; corrupt data; cause annoyance to other users; infringe upon the rights of any other person's proprietary rights; send any unrequested advertising or promoting material, commonly known as "spam"; or make an effort to affect the overall performance or functionality of any computer facilities of or accessed through this Website. Breaching this condition would constitute a criminal offense and EXCOINCIAL.Com. We will report any of such breach to the relevant law enforcement government bodies and also disclose your identity to them. </li>
            <li class="content  t-white">We will not be liable for any loss or damage caused by a dispersed denial-of-service attack, viruses or other technologically harmful material that could infect your system equipment, computer programs, data or other proprietary component due to your use of this Website or to your downloading of any material published on it, or on any website linked to it. </li>
            <li>Some items listed in the exchange may be illegal in your country, state or jurisdiction, therefore use the site at your own risk</li>
            <li>You will not hold EXCOINCIAL.com responsible for other users' actions or inactions. You acknowledge that EXCOINCIAL.com is not a broker. EXCOINCIAL.com is a service to allow anyone to offer, sell, and buy items at any time. We are not involved in the actual transaction between Buyers and Sellers. We have no control over and do not guarantee the quality, safety or legality of items advertised, the truth or accuracy of listings, the ability of Sellers to sell items, the ability of Buyers to pay for items, the timeliness of deliveries, or that a Buyer or Seller will actually complete a transaction. </li>
            <li>EXCOINCIAL.com does not provide investment, tax or legal advice. System response and access times may vary due to market conditions, system performance and other factors.</li>
          </ul>

          <h4 class="text-uppercase text-left light-blue fnt-bld mb-10 mt-0">How We Communicate</h4>
          <p class="content  t-white">If you have questions or concerns, please contact us at support@excoincial.com
            If we need to contact you concerning any event that involves your information, we may do so by email, telephone, or mail.</p>
          <p class="content  t-white">If we need to contact you concerning any event that involves your information, we may do so by email, telephone, or mail.</p>
        </div>
      </div>
    </section>
  </div>
</article>