<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<body>
  <div>
    <p>Hello User,</p>
    <p>Thank you for submitting your KYC. Our Compliance Team will review your documents and process same accordingly.</p>
    <p>Note that this process may take upto 7 working days or more. In any case you will be notified of successful outcome in due time.</p>
    <p>If your KYC documents have multiple pages or you submitted ID Card, you must visit this <%= link_to "link",@new_document %> to upload the rest of the missing documents and or the backside of your ID card.</p>
    <p>Ultimately if you have not updated your personal data under "Profile Settings", <%= link_to "please login here",@new_profile %> to your account and complete that section as soon as practically possible.</p>
  </div>
</body>
