// $(".flash-message").html('<div class="alert alert-dismissable alert-custom-success alert-success alert-msg" style="opacity: 0.239689;"><button class="close" type="button" data-dismiss="alert" aria-hidden="true"><i class="icon fa fa-times"></i></button><h3 class="h5 mb-0"><span>We sent a confirmation email to you. Please follow the instructions to confirm this withdrawal request.</span></h3></div>');
// $(".flash-message").fadeOut(10000);
$("#confirm_withdraw").modal({backdrop: 'static', keyboard: false});
