<div class="pagecontent">
  <div class="container site-container bank-form">
  	<div class="row">
  		<div class="col-sm-6 col-sm-offset-3">
  			<div class="bank-form-box">
  				<div class="bank-form-header">
			  		<h2 class="b-title">Add New Bank Details</h2>
			  		<span class="small-border"></span>
			  	</div>
			  	<div class="bank-form-body">
				  	<%= render "bank_form"%>
			  	</div>
			</div>
			<div class="bank-form-footer">
				<%= link_to "Back To Bank Details",bank_details_path, class: "btn btn-back-bottom"%>
			</div>
		</div>
  	</div>
  </div>
</div>